
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  position: relative;
}

h1 {
  &::before {
    content: "⬅️";
  }
  &::after {
    content: "➡️";
  }
}

img {
  position: absolute;
  inset: 0;
  background-color: aliceblue;
  z-index: 1;
}

img + img {
  top: 10px;
  left: 100px;
  border: 2px solid red;
  z-index: 1;
}